html, body{
    height: 100%; 
    width: 100%;
    font-family:fantasy;
    color: #222;
}
/* Nav Bar Styles */
nav.navbar navbar-expand-lg navbar-dark bg-dark{
    background-color: #0356fc;
}

.navbar{
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    margin-bottom: auto;
}

.nav-item {
    padding: 25px;
}

#active {
    text-decoration: underline;
}

/* Heading Styles */

h1 {
    color: black;
    text-align: center;
}

/* Table Styles */ 
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 3px solid black;
    background-color: black;;
}

tr:nth-child(3n) {
    background-color: rgb(3, 252, 170);
}

img {
    width: 37%;
}

img.fighters {
    display: block;
    margin: auto;
    width: 50%;
}

p {
    font-size: 16pt;
    padding: 2px;
    border: 1px solid blue;
    width: 33%;
    display: block;
    margin: auto;
    text-align: center;
}